<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="font-size:30px">List Products</h3>

        <button type="button" class="btn btn-success float-right" ui-sref="product_add">Create</button>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <!--<div class="col col-md-5">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter title..." aria-label="Recipient's title" aria-describedby="basic-addon2" ng-model="filter">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" ng-click="getListPosts()">Search</button>
                    </div>
                </div>
            </div>-->

        </div>

        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr class="bg-gradient-dark">
                    <th style="width: 5%">ID</th>
                    <th style="width: 15%">Name</th>
                    <th style="width: 15%">Image</th>
                    <th style="width: 15%">Category</th>
                    <th style="width: 35%">Description</th>
                    <th style="width: 5%">Price</th>
                    <th style="width: 5%">Discount</th>
                    <th style="width: 5%">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in listproducts">
                    <td>{{product.iD_Product}}</td>
                    <td>{{product.nameProduct}}</td>
                    <td>
                        <img src="{{product.image_Url}}" style="width: 100px; height: 50px" alt="Error Image" />
                    </td>
                    <td>{{product.category_Name}}</td>
                    <td>
                        {{product.productDetail}}
                    </td>
                    <td>{{product.price}}VND</td>
                    <td>{{product.discount}}%</td>

                    <td>
                        <button class="btn btn-sm btn-primary" ui-sref="product_edit({id:product.iD_Product})">
                            <i class="fa fa-pen"></i>
                        </button>
                        <button class="btn btn-sm btn-danger mt-2" ng-click="deleteProduct(product.iD_Product)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->

    <pagination-directive show-to="{{showTo}}" show-from="{{showFrom}}" show-end="{{showEnd}}" page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getListproducts(page)"></pagination-directive>
</div>


