<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang quản trị</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/Admin/libs/fontawesome-free/css/all.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/Admin/css/adminlte.min.css">

    <link href="~/assets/admin/libs/toastr/build/toastr.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini" ng-app="ClothingStore" ng-controller="rootController">
    <div ui-view></div>
    


    <!-- jQuery -->
    <script src="~/Assets/Admin/libs/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/Assets/Admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/Assets/Admin/js/adminlte.min.js"></script>

    <!------------------------------ Begin embed Angularjs ------------------------------>
    <!-- Angular JS -->
    <script src="~/Assets/Admin/libs/angular-1.8.2/angular.js"></script>

    <!-- UI Router -->
    <script src="~/Assets/Admin/libs/angular-ui-router/release/angular-ui-router.js"></script>
    
    <!-- Toast -->
    <script src="~/assets/admin/libs/toastr/toastr.js"></script>

    <!-- Bootbox -->
    <script src="~/assets/admin/libs/bootbox/bootbox.js"></script>

    <!-- ng - Bootbox -->
    <script src="~/assets/admin/libs/ngbootbox/ngbootbox.js"></script>

    <!-- CkEditor -->
    <script src="~/assets/admin/libs/ckeditor4-releases/ckeditor.js"></script>

    <!-- ng - CkEditor -->
    <script src="~/assets/admin/libs/ng-ckeditor/ng-ckeditor.js"></script>

    <!-- Module Common -->
    <script src="~/App/Shared/Modules/ClothingStoreCommon.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/directives/paginationDirective.js"></script>
    <script src="~/app/shared/services/authdata.js"></script>
    <script src="~/app/shared/services/authenticationservice.js"></script>
    <script src="~/app/shared/services/loginservice.js"></script>
    
    <!-- Module Components -->
    <script src="~/app/components/products/productmodule.js"></script>

    <!-- Module Main -->
    <script src="~/App/app.js"></script>
    <script src="~/App/components/home/rootcontroller.js"></script>
    
    <!-- Controller -->
    <script src="~/App/Components/home/homecontroller.js"></script>

    <script src="~/app/components/products/productlistcontroller.js"></script>
    <script src="~/App/Components/products/productAddController.js"></script>
    <script src="~/app/components/products/producteditcontroller.js"></script>

    <script src="~/app/components/login/loginController.js"></script>

</body>
</html>
